{{> header}}
<div class="main city_container">
    <h2 class="article_head">Explore the cities of Bulgaria</h2>
    <div class="articles">
        <ul>
            <li class="big_article">
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/cities/sofia.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Sofia</h3>
                        </div>
                    </section>
                </a>
            </li>
            <li class="row_articles">
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles//cities/blagoevgrad.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Blagoevgrad</h3>
                        </div>
                    </section>
                </a>
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/cities/pleven.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Pleven</h3>
                        </div>
                    </section>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/cities/haskovo.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Haskovo</h3>
                        </div>
                    </section>
                </a>
            </li>
            <li>
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/cities/ruse.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Ruse</h3>
                        </div>
                    </section>
                </a>
            </li>
            <li>
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/cities/veliko turnovo.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Veliko Turnovo</h3>
                        </div>
                    </section>
                </a>
            </li>
        </ul>
        <ul>
            <li class="row_articles">
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/cities/plovdiv.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Plovdiv</h3>
                        </div>
                    </section>
                </a>
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/cities/burgas.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Burgas</h3>
                        </div>
                    </section>
                </a>

            </li>
            <li class="big_article">
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/cities/varna.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Varna</h3>
                        </div>
                    </section>
                </a>
            </li>

        </ul>


    </div>
</div>

{{> footer}}