{{> header}}
<div class="main legacy_container">
    <h2 class="article_head">Explore the legacy of Bulgaria</h2>
    <div class="articles">
        <ul>
            <li class="big_article">
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/legacy/carevec.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Tcarevec</h3>
                        </div>
                    </section>
                </a>
            </li>
            <li class="row_articles">
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/legacy/shipka.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Shipka monoment</h3>
                        </div>
                    </section>
                </a>
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/legacy/perpericon.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Perpericon</h3>
                        </div>
                    </section>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/legacy/panagurskoto-sucrovishte.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Panagyurishte Gold Treasure</h3>
                        </div>
                    </section>
                </a>
            </li>
            <li>
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/legacy/plovdiv-old-town.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Old Town of Plovdiv</h3>
                        </div>
                    </section>
                </a>
            </li>
            <li>
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/legacy/tracian-tombs.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Tracian Tombs</h3>
                        </div>
                    </section>
                </a>
            </li>
        </ul>
        <ul>
            <li class="row_articles">
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/legacy/belogradchik-rocks.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Belogradchik Rocks</h3>
                        </div>
                    </section>
                </a>
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/legacy/belintash.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Beglik Tash </h3>
                        </div>
                    </section>
                </a>

            </li>
            <li class="big_article">
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/legacy/rila-monastery.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Rila Monastery</h3>
                        </div>
                    </section>
                </a>
            </li>

        </ul>

    </div>
    <h2 class="article_head">...and many more</h2>
</div>

{{> footer}}