{{> header}}



<div class="mainpart">
    <h1>101 Аmazing Tourist Sites in Bulgaria</h1>
    {{!-- <button class="btn btn-secondary btn-lg " type="submit">Start Now</button> --}}
</div>
<div class="stories">
    <article class="nature">
        <a href="#/articles/mountains">
            <section class="mointain">
                <h2>Climb the Mointains of Bulgaria</h2>
                <p>Mountains constitute a significant part of Bulgaria and are dominant in the southwest and central
                    parts.
                    Bulgaria's highest mountains are Rila (highest peak Musala, 2925 m; the highest in the Balkans) and
                    Pirin (highest peak Vihren, 2914 m). The large mountain chain of Stara planina (Balkan Mountains)
                    runs
                    west-east across the entire country, bisecting it and giving the name to the entire Balkan
                    peninsula.
                    Other extensive mountains are the massifs Rhodopes and Strandzha in the south.</p>

            </section>
        </a>
        <a href="">
            <section class="sea">
                <h2>Еnjoy the Black Sea coast</h2>
                <p>The Bulgarian Black Sea Coast , covers the entire eastern bound of Bulgaria stretching from the
                    Romanian
                    Black Sea resorts
                    in the north to European Turkey in the south, along 378 km of coastline. White and golden sandy
                    beaches
                    occupy approximately 130 km of the 378 km long coast. The region is an important center of tourism
                    during the summer season (May–October), drawing millions of foreign and local tourists alike and
                    constituting one of the country's most popular tourist destinations.</p>
            </section>
        </a>

    </article>


</div>



{{> footer}}