{{> header}}
<div class="main_mountain_container">
    <h2 class="mountainshead">The Amazing Mountains in Bulgaria</h2>
    <div class="mountains">
        <ul>
            <li class="big_article">
                <a class="mountains_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/mountains/rila2.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Rila</h3>
                        </div>
                    </section>
                </a>
            </li>
            <li class="row_articles">
                <a class="mountains_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/mountains/pirin.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Pirin</h3>
                        </div>
                    </section>
                </a>
                <a class="mountains_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/mountains/vitosha.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Vitosha</h3>
                        </div>
                    </section>
                </a>
            </li>
        </ul>

        <ul>
            <li class="row_articles">
                <a class="mountains_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/mountains/staraplanina.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Stara planina</h3>
                        </div>
                    </section>
                </a>
                <a class="mountains_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/mountains/rodopi.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Rodopi</h3>
                        </div>
                    </section>
                </a>

            </li>
            <li class="big_article">
                <a class="mountains_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/mountains/stranja.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Strandja</h3>
                        </div>
                    </section>
                </a>
            </li>

        </ul>
        <ul>
            <li>
                <a class="mountains_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/mountains/sredna_gora.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Sredna gora</h3>
                        </div>
                    </section>
                </a>
            </li>
            <li>
                <a class="mountains_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/mountains/osogovo.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Osogovo</h3>
                        </div>
                    </section>
                </a>
            </li>
            <li>
                <a class="mountains_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/mountains/sakar.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Sakar</h3>
                        </div>
                    </section>
                </a>
            </li>
        </ul>
    </div>
</div>



{{> footer}}