{{> header}}
<div class="main sea_container">
    <h2 class="article_head">Enjoy the coast of Black Sea</h2>
    <div class="articles">
        <ul>
            <li class="big_article">
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/sea/sozopol.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Sozopol</h3>
                        </div>
                    </section>
                </a>
            </li>
            <li class="row_articles">
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/sea/carevo.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Carevo</h3>
                        </div>
                    </section>
                </a>
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/sea/sinemorec.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Sinemorec</h3>
                        </div>
                    </section>
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/sea/nesebur.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Nesebur</h3>
                        </div>
                    </section>
                </a>
            </li>
            <li>
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/sea/kaliakra.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Kaliakra</h3>
                        </div>
                    </section>
                </a>
            </li>
            <li>
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/sea/albena.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Albena</h3>
                        </div>
                    </section>
                </a>
            </li>
        </ul>
       <ul>
            <li class="big_article">
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/sea/sunny-beach.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Sunny beach</h3>
                        </div>
                    </section>
                </a>
            </li>
            <li class="row_articles">
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/sea/zlatni-piasyci.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Golden sands</h3>
                        </div>
                    </section>
                </a>
                <a class="articles_anchor" href="">
                    <section class="article">
                        <div class="image">
                            <img class="article_image" src="/images/articles/sea/BolataCove1.jpg" alt="#">
                        </div>
                        <div class="article_text">
                            <h3>Bolata</h3>
                        </div>
                    </section>
                </a>
            </li>
        </ul>
    </div>
</div>

{{> footer}}