<footer class="footer">
  <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Team</a></li>
    <li><a href="#">Events</a></li>
    <li><a href="#">Jobs</a></li>
  </ul>

  <ul>
    <li><a href="#">FAQ</a></li>
    <li><a href="#">My Orders</a></li>
    <li><a href="#">Favorites</a></li>
    <li><a href="#">Contacts</a></li>
  </ul>

  <ul>
    <li><a href="#"><i class="far fa-copyright"></i> 2020</a></li>
    <li><a href="#">Terms</a></li>
    <li><a href="#">Privacy</a></li>
  </ul>
</footer>