{{> header}}

<section class="sites">
    <article class="sectionsites">
        <div class="site">
            <div class="mainsection">
                <div class="pic">
                    <img src="https://www.btsbg.org/sites/default/files/obekti/velyanova-kushta.jpg" alt="">
                </div>
                <h3>1.Velianova House Museum</h3>
                <h4>city: Bansko</h4>

                <p>
                    The Velian House is an architectural and ethnographic museum whose decorative decoration has been
                    declared a cultural monument of national importance. This is the most original Bansko fortified
                    house
                    from the Renaissance period, which is preserved to this day<span id="dots">...</span>.
                    <span id="more">Velan's house in Bansko was owned by a
                        wealthy family, but when her wealthy owner was on the road, robbers stormed and killed his wife.
                        He
                        no
                        longer returned to her and the house was deserted. In 1835 the house was donated by banskali to
                        Mouth /
                        master / Velyan Ognev, invited to participate in the decoration and furnishing of the Holy
                        Trinity
                        Temple.
                        He painted it inside and out, making it a true work of art. The house was very modern for its
                        time a
                        two-storey house built only of stone and wood, with the characteristic two interconnected hiding
                        places
                        and five rooms on the floor with a veranda. Of great value are the mural decoration of the Blue
                        Room,
                        the skillful carving of the veranda (the central rosette), the geometric and plant motifs in the
                        southeast room of the south facade. An ethnographic bazaar exhibition similar to that of the
                        House
                        of
                        Arts and Poetry is organized in one of the ground floor spaces.
                    </span></p>
            </div>
            <div class="buttonssection">
                <button onclick="myFunction(this)" id="myBtn">Read more</button>
                <a href="">Get It</a>
            </div>
        </div>
        <div class="site">
            <div class="mainsection">
                <div class="pic">
                    <img src="https://www.btsbg.org/sites/default/files/obekti/kushta-neofit-rilski.jpg" alt="">
                </div>
                <h3>2.House - Neofit Rilski Museum</h3>
                <h4>city: Bansko</h4>
                <p>
                    The house is an architectural and construction and historical monument of culture of national
                    importance. This is the birthplace of Neofit Rilski / Benin /. He lived there until 1811. It is a
                    typical example of Bansko architecture from the end of the XVII and the beginning of the XIX
                    century. He
                    painted in the Rila Monastery, where he later became a monk.<span id="dots">...</span>
                    <span id="more">
                        His whole life is devoted to science and education. He is the author of the first Bulgarian
                        grammar
                        /
                        1835 /. Since 1981 the house has functioned as a museum. It consists of two parts - the
                        authentically
                        preserved house of the distinguished Bulgarian national revivalist with ethnographic exposition
                        and
                        documentary exposition, exhibiting the most valuable of Neofit Rilski's rich heritage - mainly
                        letters,
                        photographs and literary material. More than 400 documentary and material materials are stored
                        in
                        the
                        fund.</span></p>
            </div>
            <div class="buttonssection">
                <button onclick="myFunction(this)" id="myBtn">Read more</button>
                <a href="">Get It</a>
            </div>
        </div>
        <div class="site">
            <div class="mainsection">
                <div class="pic">
                    <img src="https://www.btsbg.org/sites/default/files/obekti/velyanova-kushta.jpg" alt="">
                </div>
                <h3>1.Velianova House Museum</h3>
                <h4>city: Bansko</h4>
                <p>
                    The Velian House is an architectural and ethnographic museum whose decorative decoration has been
                    declared a cultural monument of national importance. This is the most original Bansko fortified
                    house
                    from the Renaissance period, which is preserved to this day<span id="dots">...</span>.
                    <span id="more">Velan's house in Bansko was owned by a
                        wealthy family, but when her wealthy owner was on the road, robbers stormed and killed his wife.
                        He
                        no
                        longer returned to her and the house was deserted. In 1835 the house was donated by banskali to
                        Mouth /
                        master / Velyan Ognev, invited to participate in the decoration and furnishing of the Holy
                        Trinity
                        Temple.
                        He painted it inside and out, making it a true work of art. The house was very modern for its
                        time a
                        two-storey house built only of stone and wood, with the characteristic two interconnected hiding
                        places
                        and five rooms on the floor with a veranda. Of great value are the mural decoration of the Blue
                        Room,
                        the skillful carving of the veranda (the central rosette), the geometric and plant motifs in the
                        southeast room of the south facade. An ethnographic bazaar exhibition similar to that of the
                        House
                        of
                        Arts and Poetry is organized in one of the ground floor spaces.
                    </span></p>
            </div>
            <div class="buttonssection">
                <button onclick="myFunction(this)" id="myBtn">Read more</button>
                <a href="">Get It</a>
            </div>
        </div>
        <div class="site">
            <div class="mainsection">
                <div class="pic">
                    <img src="https://www.btsbg.org/sites/default/files/obekti/kushta-neofit-rilski.jpg" alt="">
                </div>
                <h3>2.House - Neofit Rilski Museum</h3>
                <h4>city: Bansko</h4>
                <p>
                    The house is an architectural and construction and historical monument of culture of national
                    importance. This is the birthplace of Neofit Rilski / Benin /. He lived there until 1811. It is a
                    typical example of Bansko architecture from the end of the XVII and the beginning of the XIX
                    century. He
                    painted in the Rila Monastery, where he later became a monk.<span id="dots">...</span>
                    <span id="more">
                        His whole life is devoted to science and education. He is the author of the first Bulgarian
                        grammar
                        /
                        1835 /. Since 1981 the house has functioned as a museum. It consists of two parts - the
                        authentically
                        preserved house of the distinguished Bulgarian national revivalist with ethnographic exposition
                        and
                        documentary exposition, exhibiting the most valuable of Neofit Rilski's rich heritage - mainly
                        letters,
                        photographs and literary material. More than 400 documentary and material materials are stored
                        in
                        the
                        fund.</span></p>
            </div>
            <div class="buttonssection">
                <button onclick="myFunction(this)" id="myBtn">Read more</button>
                <a href="">Get It</a>
            </div>
        </div>
    </article>

</section>

{{> footer}}