{{!-- добавяме header и footer --}}

{{> header}}

<div class="container home wrapper  my-md-5 pl-md-5">
    <div class="row-form d-md-flex flex-mb-equal ">
        <div class="col-md-4">
            <img class="responsive" src="/images/header/101.png" alt="">
        </div>
        <form class="form-user col-md-7" action="#/user/login" method="post">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            </div>
            <div class="form-label-group">
                <label for="inputUsername">Username</label>
                <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username"
                    required="" autofocus="">
            </div>
            <div class="form-label-group">
                <label for="inputPassword">Password</label>
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password"
                    required="">
            </div>
            <div class="text-center mb-4 text-center">
                <button class="btn btn-lg btn-dark btn-block" type="submit">Sign In</button>
                <p class="alreadyUser"> Don't have account? Then just
                    <a href="#/user/register">Sign-Up</a>!
                </p>
            </div>
            <p class="mt-5 mb-3 text-muted text-center">© y.yordanov21 - 2020.</p>
        </form>
    </div>
</div>


{{> footer}}



<!-- Login -->
{{!-- <div style="margin: 0 auto; margin-bottom:5%; margin-top:7%;" class="modal-content col-lg-6">
    <div class="card-body">
      ///  добавяме на метода POST и action добавяме #/user/login
        <form method="POST" action="#/user/login">
            <p class="h4 py-4">Login</p>
            <hr>
            <label for="defaultFormCardNameEx" class="grey-text font-weight-light">Your username</label>
            <input name="username" type="text" id="defaultFormCardNameEx" class="form-control">

            <br>

            <label for="defaultFormCardPasswordEx" class="grey-text font-weight-light">Your password</label>
            <input name="password" type="password" id="defaultFormCardPasswordEx" class="form-control">

            <div class="text-center py-4 mt-3">
                <button class="btn btn-info" type="submit">Logged In</button>
            </div>
        </form>

    </div>

</div> --}}
<!-- Login-->