{{> header}}

<div class="container home wrapper  my-md-5 pl-md-5">
    <div class=" d-md-flex flex-mb-equal ">
        <div class="col-md-6">
            <img class="responsive-ideas create" src="./images/creativity_painted_face.jpg" alt="">
        </div>
        <form class="form-idea col-md-5" action="#/cause/create" method="post">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Create Your Amazing Trip</h1>
            </div>
            <div class="form-label-group">
                <label for="tripTitle">Title</label>
                <input type="text" id="title" name="title" class="form-control" placeholder="Your trip?"
                    required="" autofocus="">
            </div>
            <div class="form-label-group">
                <label for="tripTitle">Region</label>
                <input type="text" id="region" name="region" class="form-control" placeholder="Where is your trip?"
                    required="" autofocus="">
            </div>
            <div class="form-label-group">
                <label for="tripDescription">Description</label>
                <textarea type="text" name="description" class="form-control" placeholder="Description"
                    required=""></textarea>
            </div>
            <div class="form-label-group">
                <label for="inputURL">Add Image</label>
                <input type="text" id="imageURl" name="imageURL" class="form-control" placeholder="Image URL"
                    required="">
            </div>
            <button class="btn btn-lg btn-dark btn-block" type="submit">Create</button>

            <p class="mt-5 mb-3 text-muted text-center">© SoftTerest - 2019.</p>
        </form>
    </div>
</div>

{{> footer}}



<!-- Look for donation (Create Cause) -->
{{!-- <div style="margin: 0 auto; margin-bottom:7%; margin-top:7%;" class="modal-content col-lg-6">
        <div class="modal-header info-color white-text">
            <h4 class="title">
                <i class="fa fa-pencil-alt"></i> Look for a donation</h4>
        </div>
        <div class="modal-body">
            <form method="POST" action="#/cause/create">
                <label for="defaultFormNameModalEx">Your cause</label>
                <input name="cause" type="text" id="defaultFormNameModalEx" class="form-control form-control-sm" placeholder="Collage...">
                <br>
                <label for="defaultFormEmailModalEx">Your cause picture...</label>
                <input name="pictureUrl" type="text" id="defaultFormEmailModalEx" class="form-control form-control-sm" placeholder="https://...">
                <br>
                <label for="defaultFormSubjectModalEx">Your needed funds...</label>
                <input name="neededFunds" type="text" id="defaultFormSubjectModalEx" class="form-control form-control-sm" placeholder="2400.00">
                <br>
                <label for="defaultFormMessageModalEx">Your cause description...</label>
                <textarea name="description" style="resize: none; height: 150px;" type="text" id="defaultFormMessageModalEx" class="md-textarea form-control" placeholder="I'm looking for funds because..."></textarea>
                <div class="text-center mt-4 mb-2">
                    <button type="submit" class="btn btn-info">Send</button>
                </div>
            </form>
        </div>
    </div> --}}
<!-- ./Look for donation (Create Cause) -->