@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

.mountain_container {
    background-image: url(/images/articles/mountains/winter_head.jpg);
}

.city_container {
    background-image: url(/images/articles/city.jpg);
}

.main h2 {
    padding: 1rem;
    color: white;
}

.article_head {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.3em;
    color: rgb(27, 38, 49);
}

.articles {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.articles ul li {
    list-style: none;
}

.articles ul {
    padding: 0;
    margin: 0;
}

.article_text {
    display: block;
    text-align: center;
    margin-top: 15px;
}

.article {
    text-decoration: none;
    background-color: white;
    display: block;
    width: 15em;
    height: 16em;
    margin: 0 10px 10px 0;
}

.articles_anchor {
    text-decoration: none;
}

.articles_anchor .article:hover {
    text-decoration: none;
    /* Animation */
    transition: transform .5s;
    /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    transform: scale(1.1);
}

.articles_anchor:hover {
    text-decoration: none;
}

.article:hover {
    text-decoration: none;
    background-color: rgba(155, 15, 15, 0.05);
    color: white;
}

.article_image {
    display: block;
    width: 100%;
    height: 100%;
}

.image {
    width: 100%;
    height: 70%;
}

.row_articles {
    display: flex;
    justify-content: center;
}

.big_article .article {
    width: 30.5em;
    height: 32em;
}

.big_article:nth-child(1) {
    margin-bottom: 20px;
}

.big_article:nth-child(2) {
    margin-top: 10px;
}

.big_article .article .article_text h3 {
    font-size: 2em;
}

.big_article .article .article_text {
    margin-top: 30px;
}

.articles_anchor {
    text-decoration: none;
    color: rgb(27, 38, 49)
}