* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    max-height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    background-color: grey;
    margin: 0;
}

.data-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#navId {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    top: 0;
    background-color: #f5f5f5;
    /* background: url("/images/header/winter_head.jpg"); */
    height: 100%;
    max-height: 100%;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
}

#headerButtonSite {
    display: none;
}

#navId:hover {
    height: 600px;
    justify-content: start;
}

#navId:hover>#headerButtonSite {
    padding-top: 150px;
    display: block;
}

nav .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: rgb(27, 38, 49)
}

nav img {
    height: 5rem;
}

#navbarResponsive {
    width: 250px;
    margin: 0;
    margin-right: 20px;
}

nav .container:nth-child(2):hover {
    display: block;
}

.container-footer {
    position: relative;
    float: left;
    left: 30px;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #f5f5f5;
    color: rgba(0, 0, 0, 0.39);
    font-size: 20px;
}

footer ul:nth-child(1) {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}

footer ul:nth-child(1) li a {
    padding: 0 10px;
    margin: 0;
    color: #C7C7C7;
}


/* footer ul li:nth-child(n+2) {
    border-left: 1px solid #C7C7C7;
} */


/* for social media */

footer ul:nth-child(2) {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

footer ul:nth-child(2) li {
    list-style: none;
}

footer ul:nth-child(2) li a {
    width: 50px;
    height: 50px;
    background-color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

footer ul:nth-child(2) li a .icon {
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 3;
}

footer ul:nth-child(2) li a:hover .icon {
    color: #fff;
    transform: rotateY(360deg);
}

footer ul:nth-child(2) li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .5s;
    z-index: 2;
}

footer ul:nth-child(2) li a:hover:before {
    top: 0;
}

footer ul:nth-child(2) li:nth-child(1) a:before {
    background: #3b5999;
}

footer ul:nth-child(2) li:nth-child(2) a:before {
    background: #55acee;
}

footer ul:nth-child(2) li:nth-child(3) a:before {
    background: #FF553E;
}

footer ul:nth-child(2) li:nth-child(4) a:before {
    background: #dd4b39;
}