* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sites {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row wrap;
    justify-content: space-around;
    width: 90%;
    background-color: #f5f5f5;
    color: rgba(0, 0, 0);
    font-size: 20px;
}

.sites .sectionsites {
    display: flex;
    flex-direction: column wrap;
    justify-content: center;
}

.sectionsites .site {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 1em;
    padding: 0;
    background-color: white;
    border-radius: 1em;
    min-width: 5em;
    width: 20%;
    box-shadow: 0 0 20px gray;
}

.site:hover {
    transition: transform 0.7s;
    transform: scale(1.05);
}

.pic {
    padding-bottom: 10px;
    margin: 0;
    width: 100%;
}

#more {
    display: none;
}

.buttonssection {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.buttonssection a,
button {
    padding: 3px;
    margin: 0;
    font-weight: bold;
    color: white;
    background-color: darkgray;
    border: none;
    border-radius: 5px;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    text-decoration: none;
}

.mainsection img {
    width: 100%;
}

h3,
h4,
p {
    padding-left: 10px;
    padding-right: 10px;
}

h5 {
    padding-left: 10px;
    padding-right: 10px;
}

.site .pic img {
    width: 100%;
    min-height: 10em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

#map {
    /* The height is 200 pixels */
    height: 200px;
    /* The width is the width of the div */
    width: 100%;
    margin: 0;
}

.location {
    padding: 0;
    margin: 0;
}

.secondarysection {
    width: 100%;
}

.btn-sites:hover {
    filter: brightness(85%);
    color: white;
}